.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1280px;
    min-height: 60vh;
    border-radius: $borderRadius;
    margin-bottom: 50px;
    //this path just only for displaying on github pages!
    background: $chatBGGradient, $chatBGImage;
    background-position: center;
    position: relative;
    @include smartphone {
        width: 98%;
        margin-bottom: 5px;
    }
}


.chat__subtitle {
    width: 90%;
    height: 10%;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    line-height: 42px;
    color: $textTitlesMessageColor;
}

.chat__subtitle_work {
    background-color: $chatTitleWorkBGColor;
}

.chat__subtitle_flud {
    background-color: $chatTitleFludBGColor;
}

.chat__messages_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    min-height: 80%;
    height: 450px;
    overflow: auto;
    visibility: hidden;
    @include desktop {
        @include additionalBigGRZ {
            height: 675px;
        }
    }
}

//display scroll on hover
.chat:hover .chat__messages_list, .chat__messages_list:hover {
    visibility: visible;
}

// scroll style for chrome, yandex, safari, opera
.chat__subtitle_flud + ::-webkit-scrollbar {
    width: $scrollWidth;
    background-color: $buttonBGColor;
    border-radius: $scrollThumbRadius;
}

.chat__subtitle_flud + ::-webkit-scrollbar-thumb {
    background-color: $buttonBGColorHover;
    border-radius: $scrollThumbRadius;
}

.chat__subtitle_work + ::-webkit-scrollbar {
    width: $scrollWidth;
    background-color: $buttonBackBGColor;
    border-radius: $scrollThumbRadius;
}

.chat__subtitle_work + ::-webkit-scrollbar-thumb {
    background-color: $buttonBackBGColorHover;
    border-radius: $scrollThumbRadius;
}