.button {
    cursor: pointer;
    outline: none;
    padding: 10px 25px;
    font-size: $buttonFontSize;
    color: $textColor;
    border: 0;
    border-radius: $borderRadius;
    transition: $trahsitionHoverDuration;
    background-color: $buttonBGColor;
    &:hover {
        background-color: $buttonBGColorHover;
    }
}

.button__login_close {
    width: 22PX;
    height: 22PX;
    border: 0;
    outline: none;
    background: url("https://sden4.github.io/tot_systems_test_work/assets/images/Cross.svg");
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.button__exit {
    order: 2;
    background-color: $buttonBackBGColor;
    margin-top: 300px;
    &:hover {
        background-color: $buttonBackBGColorHover;
    }
}

.button__exit_mod {
    margin: 0 30px;
    animation-direction: alternate;
    animation: anime 1s;
}

.button__exit_mod ~ .button__choose {
    padding: 10px 25px;
    font-size: $buttonFontSize;
}

.button__unactive {
    display: none;
}

@keyframes anime {
    from {margin-top: 300px}
    to {margin-top: 0px}
}

.button__choose {
    font-size: 60px;
    padding: 40px 50px;
}

.button__choose_work {
    order: 1;
}

.button__choose_flud {
    order: 3;
}

.button__send_message {
    background-color: transparent;
    outline: none;
}

.button__send_message_triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid $buttonBGColor;
    border-bottom: 10px solid transparent;
    position: relative;
    transition: $trahsitionHoverDuration;
    &:after {
        transition: $trahsitionHoverDuration;
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid $buttonBGColor;
        position: absolute;
        top: -14px;
        left: -24px;
    }
    &:hover {
        border-left: 15px solid $buttonBGColorHover;
        &:after {
            border: 2px solid $buttonBGColorHover;
        }
    }
}