.button {
    cursor: pointer;
    outline: none;
    padding: 10px 25px;
    font-size: $buttonFontSize;
    color: $textColor;
    border: 0;
    border-radius: $borderRadius;
    transition: $trahsitionHoverDuration;
    background-color: $buttonBGColor;
    &:hover {
        background-color: $buttonBGColorHover;
    }
}

.button__login_close {
    width: 22PX;
    height: 22PX;
    border: 0;
    outline: none;
    background: url("https://sden4.github.io/tot_systems_test_work/assets/images/Cross.svg");
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}