.button {
    outline: none;
    padding: 10px 25px;
    font-size: $buttonFontSize;
    color: $textColor;
    border: 0;
    border-radius: $borderRadius;
    transition: $trahsitionHoverDuration;
    background-color: $buttonBGColor;
    &:hover {
        background-color: $buttonBGColorHover;
    }
}

.button__exit {
    order: 2;
    background-color: $buttonBackBGColor;
    margin-top: 300px;
    &:hover {
        background-color: $buttonBackBGColorHover;
    }
}

.button__cansel {
    background-color: $buttonBackBGColor;
    &:hover {
        background-color: $buttonBackBGColorHover;
    }
}

.button__exit_mod {
    margin: 0 30px;
    animation-direction: alternate;
    animation: animationMargin $animationDuration;
}

.button__exit_mod ~ .button__choose {
    padding: 10px 25px;
    font-size: $buttonFontSize;
}

.button__unactive {
    display: none;
}

@keyframes animationMargin {
    from {margin-top: 300px}
    to {margin-top: 0px}
}

.button__choose {
    font-size: 60px;
    padding: 40px 50px;
}

.button__choose_work {
    order: 1;
}

.button__choose_flud {
    order: 3;
}

.button__send_message {
    background-color: transparent;
    outline: none;
}

.button__send_message_triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid $buttonBGColor;
    border-bottom: 10px solid transparent;
    position: relative;
    transition: $trahsitionHoverDuration;
    &:after {
        transition: $trahsitionHoverDuration;
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid $buttonBGColor;
        position: absolute;
        top: -14px;
        left: -24px;
    }
    &:hover {
        border-left: 15px solid $buttonBGColorHover;
        &:after {
            border: 2px solid $buttonBGColorHover;
        }
    }
}

.button__cross {
    width: 10px;
    height: 10px;
    background-color: transparent;
    outline: none;
    &:hover .button__cross_segment {
        background-color: $buttonBackBGColorHover;
    }
}

.button__cross_segment {
    width: 2px;
    height: 10px;
    border-radius: 2px;
    background-color: $textPlasseholderColor;
    position: relative;
    transform: rotate(45deg);
    transition: $trahsitionHoverDuration;
    &:after {
        width: inherit;
        height: inherit;
        border-radius: inherit;
        content: '';
        display: block;
        position: absolute;
        background-color: inherit;
        transform: rotate(90deg);
    }
}

.button__cross_login {
    width: 22PX;
    height: 22PX;
    position: absolute;
    top: 10px;
    right: 10px;
}

.button__cross_segment_login {
    width: 4px;
    height: 22px;
}

.button__edit {
    margin-left: 2px;
    &:hover .button__edit_segment {
        background-color: $buttonBGColorHover;
    }
}

.button__edit_segment {
    &:after {
        width: 2px;
        height: 5px;
        border-radius: inherit;
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        left: -2px;
        background-color: inherit;
        transform: rotate(90deg);
    }
}