//bg colors & bg images
    $mainBGColor: #FDF5E6;
    $bodyBGColor: #68b8dd;;
    $bodyBGImage: url('https://sden4.github.io/tot_systems_test_work/assets/images/mainBG.jpg');
    $confirmDeleteMessageBGColor: rgba(234, 215, 213, .97);
    $mainRed: #FF4500;

    $loginWindowBGColor: white;
    $liginWindowBGGradient: radial-gradient(transparent 20%, #fff 100%);

    //thess paths are just only for displaying on github pages!
    $loginPicLogin: url('https://sden4.github.io/tot_systems_test_work/assets/images/user.svg');
    $loginPicPassword: url('https://sden4.github.io/tot_systems_test_work/assets/images/key4.svg');

    $chatTitleWorkBGColor: lightsalmon;
    $chatTitleFludBGColor: #AFF0BB;
    $chatBGGradient: linear-gradient(0deg, $loginWindowBGColor,rgba(255,255,255, 0.85) 50%, $loginWindowBGColor);
    $chatBGImage: url('https://sden4.github.io/tot_systems_test_work/assets/images/bg2new.png');

    $boxShadow: 0 3px 6px rgba(0,0,0,.23), 0 3px 6px rgba(0,0,0,.16);

//text colors
    $textColor: white;
    $textTitlesMessageColor: #A52A2A;
    $textPlasseholderColor: #D3D3D3;

//buttons colors
    $buttonBGColor: #AFF0BB;
    $buttonBGColorHover: rgb(66, 190, 42);
    $buttonBackBGColor: lightsalmon;
    $buttonBackBGColorHover: #A52A2A;

//scroll pams
    $scrollWidth: 8px;
    $scrollThumbRadius: 4px;

//fonts
    $mainFont: 'Open Sans', Helvetica, sans-serif;

//font sizes
    $bigButtons: 60px;
    $titleFontSize: 48px;
    $subtitleFontSize: 36px;
    $buttonFontSize: 24px;
    $baseFontSize: 16px;
    $errorFontSize: 12px;
    $messageTimeFontSize: 12px;

//vars
    $borderRadius: 15px;
    $trahsitionHoverDuration: .3s;
    $animationDuration: 1s;

//resolutions for mobiles
    $desktop: 1280px;
    $laptop: 980px;
    $tablet: 768px;
    $smartphone: 480px;
    $additional: 360px;
    $phone: 320px;