//colors
$mainBGColor: #FDF5E6;
$bodyBGColor: #EAD7D5;
$mainRed: #FF4500;
$borderRadius: 15px;

$loginWindowBGColor: white;

$textColor: white;

$buttonBGColor: #C1E2B9;
$buttonBGColorHover: rgb(66, 190, 42);
$buttonFontSize: 24px;

$buttonBackBGColor: #D2691E;
$buttonBackBGColorHover: #A52A2A;


$errorFontSize: 12px;

$trahsitionHoverDuration: .3s;

//fonts
$mainFont: 'Open Sans', Helvetica, sans-serif;
$additionalFont: 'Gagalin', sans-serif;

//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;