//colors
$mainBGColor: #CEA0AE;
$bodyBGColor: #EAD7D5;
$mainRed: #FF4500;
$borderRadius: 15px;

$textColor: white;

$buttonBGColor: #C1E2B9;
$buttonBGColorHover: #CEA0AE;

$trahsitionHoverDuration: .3s;

//fonts
$mainFont: 'Open Sans', Helvetica, sans-serif;
$additionalFont: 'Gagalin', sans-serif;

//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;