.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    min-height: 60vh;
    border: 1px solid $loginWindowBorderColor;
    border-radius: $borderRadius;
    margin-bottom: 50px;
    //this path just only for displaying on github pages!
    background: linear-gradient(0deg, $loginWindowBGColor,rgba(255,255,255, 0.85) 50%, $loginWindowBGColor), url('https://sden4.github.io/tot_systems_test_work/assets/images/bg2new.png');
    background-position: center;
    position: relative;
}

.chat__subtitle {
    width: 90%;
    height: 10%;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    line-height: 42px;
    color: $textTitlesMessageColor;
}

.chat__subtitle_work {
    background-color: $chatTitleWorkBGColor;
}

.chat__subtitle_flud {
    background-color: $chatTitleFludBGColor;
}

.chat__messages_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    min-height: 80%;
    height: 450px;
    overflow: auto;
    visibility: hidden;
}

//display scroll on hover
.chat:hover .chat__messages_list, .chat__messages_list:hover {
    visibility: visible;
}

.chat__new_message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    border-radius: 10px;
    margin: 10px 0;
    background-color: $mainBGColor;
}

.chat__input {
    width: 90%;
    font-size: 16px;
    border: 0;
    outline: none;
    padding: 12px 10px;
    background-color: $mainBGColor;
    border-radius: 10px;
}

.chat__button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.chat__input::placeholder {
    font-size: $baseFontSize;
    color: $textPlasseholderColor;
}