.choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.choose__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    height: 250px;
}

.choose__content_mod {
    height: 50px;
    animation: animationHeight $animationDuration;
}

@keyframes animationHeight {
    from {height: 250px;}
    to {height: 50px;}
}