.choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.choose__grit {
    color: $textTitlesMessageColor;
    font-size: $titleFontSize;
    margin-bottom: 50px;
    line-height: $titleFontSize;
    @include laptop {
        @include smartphoneGRZ {
            margin-bottom: 20px;
        }
    }
}

.choose__grit_unactive {
    display: none
}

.choose__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @include laptop {
        flex-direction: column;
        align-items: center;
    }
}

.choose__content_mod {
    height: 50px;
    animation: animationHeight $animationDuration;
    @include laptop {
        flex-direction: row;
        @include smartphoneGRZ {
            flex-direction: row;
        }
    }
}

@keyframes animationHeight {
    from {height: 250px;}
    to {height: 50px;}
}