.message {
    display: flex;
    padding: 2px 10px;
    max-width: 97%;
    border-radius: 5px;
    background-color: $mainBGColor;
    box-shadow: $boxShadow;
    visibility: visible;
    //fix problem of width fit-content in IE
    margin: 10px auto 10px 10px;
}

.message__left {
    display: flex;
    flex-direction: column;
    width: 97%;
}

.message__author {
    font-style: italic;
    color: $textTitlesMessageColor;
}

.message__message {
    width: 104%;
    overflow-wrap: break-word;
}

.message__time {
    font-size: $messageTimeFontSize;
    color: $textPlasseholderColor;
    text-align: right;
}

.message__right {
    margin-left: 5px;
}

.message__right_unactive {
    display: none;
}

.message__delete {
    width: 10px;
    height: 10px;
    background-color: transparent;
    outline: none;
    &:hover .message__delete_cross {
        background-color: $buttonBackBGColorHover;
    }
}

.message__delete_cross {
    width: 2px;
    height: 10px;
    border-radius: 2px;
    background-color: $textPlasseholderColor;
    position: relative;
    transform: rotate(45deg);
    transition: $trahsitionHoverDuration;
    &:after {
        width: inherit;
        height: inherit;
        content: '';
        display: block;
        position: absolute;
        background-color: inherit;
        transform: rotate(90deg);
    }
}

.message__confirm_del {
    background-color: $bodyBGColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    border-radius: $borderRadius;
    z-index: 10;
}

.message__confirm_text {
    width: 80%;
    text-align: center;
    font-size: $buttonFontSize;
    color: $textTitlesMessageColor;
    margin-bottom: 50px;
    overflow-wrap: break-word;
}

.message__confirm_del_unactive {
    display: none;
}

.message__confirm_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}